
.seta-baixo-anuncio, .conteudo-anuncio-form, #check-anuncio-fieldset,
#check-anuncio-fieldset:checked ~ .seta-direita-anuncio{
    display: none;
}

#check-anuncio-fieldset:checked ~ .seta-baixo-anuncio,
#check-anuncio-fieldset:checked ~ .conteudo-anuncio-form{    
    display: unset;
}

.botao-publicar{
    background-color: rgb(6, 108, 241);
    color: white;    
    border-radius: 0.5em;    
    font-size: 15pt;
	margin-left: 85%;
}
