.menu-conteudo{      
    background-color: rgba(0, 0, 0, 0.9);
    width: 0;    
    height: 100%;    
    transition: all 0.9s ease-in-out; 
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2em 0 2000px 0;       
    z-index: 0;
}
 
.botao-menu{    
    position: fixed;  
    z-index: 10000;          
}

.check-menu:checked ~ .menu-conteudo{
    width: 100%;
}       

.check-menu{
    display: none;
    position: static;
}

.menu-legenda{
    margin-left: 2vh;    
    text-overflow: ellipsis;
}

.menu-conteudo ul{    
    list-style:none;    
    font-weight: bolder;
    padding-left: 1em;
}

.menu-conteudo li{
    color: white;
    white-space: nowrap;
}

.menu-conteudo li{
    text-decoration: none;
    padding: 0.5em 0.5em 0.5em 0.5em;       
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

.menu-conteudo li:hover{
    text-decoration: underline;
    background-color: white;
    background-image: linear-gradient(to bottom, transparent 1px, rgba(0,0,0,.1) 1px);
    background-size: auto 2px;
    color: rgba(53, 49, 99, 0.959);;
}

.menu-conteudo a{
    color: white;
}

