
.foto-perfil h3{
    float:left;    
}
.foto-perfil img{
    border-radius: 50%; 
    width:3em;
    height:3em;
}
.foto-perfil h2{
    margin:0 2% 0 3em;
    overflow: hidden;
    margin-bottom:0;
}

.menu-feed{
    width: 100%;
    height: 3.5%;
    background-color: #dddddd;
    font-size:11pt; 
    z-index: 1; 
}
.tabs{
    height: 70%;    
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.tabs section{
    display: inline-block; 
    width: 100vw; 
    height: 100%; 
    padding-top: 1.5rem;
    vertical-align:top;    
}

