#loja-perfil-header{
    height: 20%;
    width: 100%;
}

#loja-perfil-header figure{
    display: inline-block;
    width: 50%;
}

#loja-perfil-header figure img{
    width: 20%;
    display: inline;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#loja-perfil-header figure figcaption{
    display: inline;
    width: 80%;
}

.loja-seguidores{
    width: 50%;
    padding-top: 2%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.loja-seguidores h2{
    display: inline-block;
    padding: 0 2%;
}

.loja-seguidores p{
    text-align: center;
}