.seta-baixo-variacoes, .conteudo-variacoes-form, #check-variacoes-fieldset,
#check-variacoes-fieldset:checked ~ .seta-direita-variacoes{
    display: none;
}

.seta-baixo-variacoes-lista, .conteudo-variacoes-lista-form, #check-variacoes-lista-fieldset,
#check-variacoes-lista-fieldset:checked ~ .seta-direita-variacoes-lista{
    display: none;
}

.seta-baixo-attribute-combinations, .conteudo-attribute-combinations-form, #check-attribute-combinations-fieldset,
#check-attribute-combinations-fieldset:checked ~ .seta-direita-attribute-combinations{
    display: none;
}


#check-attribute-combinations-fieldset:checked ~ .seta-baixo-attribute-combinations,
#check-attribute-combinations-fieldset:checked ~ .conteudo-attribute-combinations-form{    
    display: unset;
}

#check-variacoes-fieldset:checked ~ .seta-baixo-variacoes,
#check-variacoes-fieldset:checked ~ .conteudo-variacoes-form{    
    display: unset;
}

#check-variacoes-lista-fieldset:checked ~ .seta-baixo-variacoes-lista,
#check-variacoes-lista-fieldset:checked ~ .conteudo-variacoes-lista-form{    
    display: unset;
}

.botao-excluir-variacao{
    background-color: rgba(148, 16, 16, 0.986);
    color: white;    
    border-radius: 0.5em;   
    font-size: 8pt !important;
}