.menu-conteudo{  
    float: left;  
    background-color: rgba(24, 13, 71);      
    width: 15%;    
    height: 90vh;
    margin-right: 4vh;
    transition: all 0.9s ease-in-out; 
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.botao-menu{    
    position: fixed;        
    transition: all 0.9s ease-in-out;
    z-index: 1000;
}

.check-menu:checked ~ .menu-conteudo{
    width: 0;
}

.check-menu{
    display: none;
}
.menu-legenda{
    margin-left: 2vh;    
    text-overflow: ellipsis;
}

.menu-conteudo ul{    
    list-style:none;    
    font-weight: bolder;
}

.menu-conteudo li{
    color: white;
    white-space: nowrap;
}

.menu-conteudo li{
    text-decoration: none;
    padding: 0.5em 0.5em 0.5em 0.5em;       
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

.menu-conteudo li:hover{
    text-decoration: underline;
    background-color: white;
    background-image: linear-gradient(to bottom, transparent 1px, rgba(0,0,0,.1) 1px);
    background-size: auto 2px;
    color: rgba(53, 49, 99, 0.959);;
}

.menu-conteudo a{
    color: white;
}
