
.card-anuncios{
    margin: 0.9%;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    width: 100%; 
    display: flex;  
}

.meli-conta-select{
    display: inline;
}

.foto-lista-anuncio{
    width: 5em;
    height: 5em;
    border-radius: 5px;
    float: left;
    display: inline;
}


.anuncio-especificacao{
    margin-top: 2%;
    max-width: 100%;
}

.anuncio-especificacao label{
    margin-right: 5%;
    display: inline-flex;  
}