.anuncio-conteudo{
    height: 100%; 
    width: 100%;
    padding: 0 2%;
    margin: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    .anuncio-conteudo{
        padding-right: 30%;
    }
}

.anuncio-header{
    height:25%;
    width: 100%;
    overflow: hidden;
}

.anuncio-header img{
    width: 8em;
    height: 8em;
}

.anuncio-header{
    font-size: 8pt;
}


.anuncio-header h1, .anuncio-header figcaption{
    display: inline-block;
}

.anuncio-header figcaption{
    vertical-align: top;
}

.anuncio-estatisticas{
    float: right;
    width: 30%;
}

.anuncio-estatisticas h2{
    display: inline-block;
}
