.header-app {         
    top : 0;     
    position: fixed;   
    width: 100%;    
    background-color: rgba(0, 0, 0, 0.9);
    background-size: auto 2px;
    height: 3.72em;
    padding: 0.3em;
    z-index: 100;
}

.logo{    
    display: inline-block; 
    padding: 0;      
}

.login{  
    float: right;                     
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
}


.user-menu{
    margin: 2% -3%;
    color: black;
    font-weight: bolder;
}

.user-menu-item{

    color: black;
    font-weight: bolder;
}
