.header-app {   
    position: fixed;
    top: 0;
    width: 100%;    
    background-color: rgba(0, 0, 0, 0.9);  
    z-index: 100;
    height: 9vh;
    padding: 0.5vh;
}

.header-app label {
    float: right;
}

.logo{        
    height: 3em;
    width: 3em;
}

.login{    
    cursor: pointer;
    height: 3em;
    width: 3em;    
    float: right;
    border-radius: 50%;
}

.user-menu{
    color: black;
    font-weight: bolder;
    border-radius: 1%; 
    text-align: center; 
    padding: 2%; 
    display: none;
    background-color: white; 
    right: 0; 
    top: 2.5em; 
    position: absolute;
}

#notificacao-menu{
    overflow-y: scroll;
    color: black;
    font-weight: bolder;
    border-radius: 1%; 
    text-align: center; 
    padding: 2%; 
    background-color: white; 
    top: 1.8em; 
    right:4rem; 
    position: absolute;
    padding: 0;
    width: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.notificacao-botao, .carrinho-botao{    
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    width: 2em;
    transition: all 0.6s ease-in-out;
}

.notificacao-botao:hover, .carrinho-botao:hover{
    background-color: rgb(255, 255, 255, 0.2);
}

.carrinho-qtd, .notificacao-qtd{
    background-color: red;
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    font-size: 6pt;
    width: 1.8%;
    top: 35%;
}

#notificacao-check, #carrinho-check{
    float: right;
    display: none;
}

#notificacao-check:checked  ~ #notificacao-menu{
    width: 50%;
    height: 80vh;
}
