.botao-add-variacao{
    background-color: rgb(39, 161, 15);
    color: white;    
    border-radius: 0.5em;    
    font-size: 10pt !important;	   
    float: right;
    margin-top: 1%; 
}

.botao-excluir-variacao{
    background-color: rgba(148, 16, 16, 0.986);
    color: white;    
    border-radius: 0.5em;   
    font-size: 8pt !important;	 
}
