.botao-add-atributo{
    background-color: rgb(6, 108, 241);
    color: white;    
    border-radius: 0.5em;    
    font-size: 10pt !important;	
}

.botao-add-atributo{
    background-color: rgb(6, 108, 241);
    color: white;    
    border-radius: 0.5em;    
    font-size: 10pt !important;	
}