.pedido-conteudo{
    width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

.card-pedido{
    border: 1px solid rgba(0, 0 , 0, 0.1);
    box-sizing: border-box;
    border-radius: 1em;
    margin-bottom: 4%;
    width: 100%;
    color: black;
    background-color: white;
}


.card-pedido header{
    padding: 2%;
    overflow: hidden;
}

.card-pedido img{
    border-radius: 50%;
    width: 15%;
    aspect-ratio: 1 / 1;
}

.card-pedido h3{
    text-overflow: ellipsis;
    max-width: 16ch;
    overflow: hidden;
    vertical-align: top;
    font-weight : bolder;
    display: inline;
    font-size: 11pt;
    padding-left: 2%;
}

.pedido-criacao{
    text-align: end;
    font-size: 10pt;
    padding: 1%;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.status-container{
    border-top:1px solid rgba(0, 0 , 0, 0.1);
    text-align:center;
    font-size:11pt;
    padding:1%;
}

.pedido-status{
    position: relative;
    display: inline-block;
    width: 50%;
    cursor: pointer;
}

.loader-pedido{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 181, 189, 50%);
    z-index: 1;
}

.loader-pedido img{
    height: 5em;
    position: relative;
    top: 38%;
    left: 42%;
}