

.card-contas{
    display: inline-block;
    margin: 0.9%;
    box-shadow: 5px 5px 10px black;
    border-radius: 2%;    
    width: 200px;    
    box-sizing: border-box;
    padding: 2em;
    overflow-y: hidden;
}   

.header-card{
    text-align: center;    
    font-weight: bolder;
    word-break: break-all;
}

.footer-card-contas{
    display: inline-flex;
    text-align: center;
}

.btn-add-contas{
    width: 100%;
    text-align: center; 
}


