
.carrinho-titulo{
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
}

.carrinho-info{
    padding: 4% 4% 0 4%;
}

.carrinho-loja-nome{
    font-weight: bold;
}

.carrinho-label{
    font-size: 8pt;
}